<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftGoogleMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>404F99071F3D05EC0052F6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>404F991E1F3D05ED0052F6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>404F99291F3D05ED0052F6F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
